#  Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [2]:
df=pd.Series([4,8,15,16,23,42])

In [3]:
df

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
type(df)

pandas.core.series.Series

# Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it

In [9]:
x= ['A',1,5,8,'B',100,True,78.45,False]
df2 = pd.Series(x)
df2

0        A
1        1
2        5
3        8
4        B
5      100
6     True
7    78.45
8    False
dtype: object

# Create a Pandas DataFrame that contains the following data

In [11]:
df3= pd .DataFrame([{"Name":"Alice","Age":25,"Gender":"Female"},{"Name":"Bob","Age":30,"Gender":"Male"},
                   {"Name":"Claire","Age":27,"Gender":"Female"}])
df3

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

#  What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [12]:
# Pandas DataFrame:
# 1.2-D labeled tabular structure.
# 2.Heterogenous:DataFrame elements can have different data types.
# 3.Size-mutable:Elements can be dropped or added in an existing DataFrame.
    
# Pandas Series:
# 1.1-D Array
# 2.Homogenous:Series elements must be of the same data type.
# 3.Size-immutable:Once created, the size of a Series object cannot be changed.

In [13]:
dff1=pd.Series([1,2,3,4,5,5])
dff1

0    1
1    2
2    3
3    4
4    5
5    5
dtype: int64

In [14]:
dff2=pd.DataFrame({"Compamy":"Google","Product":"GMap"},{"Company":"Microsoft","Product":"Bing"})
dff2

        Compamy Product
Company  Google    GMap
Product  Google    GMap

#  What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

In [15]:
# There are three support functions, . shape, . info() and . describe(), which outputs the shape of the table, information on
# rows and columns, and statistical information of the dataframe (numerical column only) respectively.
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Gender  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

In [16]:
df3.describe()

             Age
count   3.000000
mean   27.333333
std     2.516611
min    25.000000
25%    26.000000
50%    27.000000
75%    28.500000
max    30.000000

In [19]:
df3.shape

(3, 3)

# Which of the following is mutable in nature Series, DataFrame, Panel?

In [21]:
# Series : Immutable
# DataFrame: Mutable
# Panel: Mutable

# Create a DataFrame using multiple Series. Explain with an example.

In [26]:
d1=pd.Series([1,2,3,4,5,6,7,8])
d2=pd.Series([10,20,30,40,50,60,70,80])
d3 =pd.Series([100,200,300,400,500,600,700,800])
df4=pd.DataFrame([d1,d2,d3])
df4

     0    1    2    3    4    5    6    7
0    1    2    3    4    5    6    7    8
1   10   20   30   40   50   60   70   80
2  100  200  300  400  500  600  700  800